@media screen and (min-width: 1400px) {
    /*ordinateurs*/
    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
    }
    .text{
        font-family: 'Urbanist', sans-serif;
        src: url(/fonts.google.com/specimen/Urbanist);
        font-size: 1.5vw;
        width: 80%;
        height: fit-content;
        height: webkit-fit-content;
        justify-content: center;
        text-align: justify;
        margin-block: auto;
    }
    .chapter{
        z-index: 2;
        position: absolute;
        font-family: 'Shrikhand';
        font-size: 4vw;
        display: inline-block;
        border-radius: 3vh;
        padding: 2vh 7vh;
        text-align: left;
        margin-top: -7vh;
        margin-left: 5vh;
    }
    .banner{
        z-index: 1;
        grid-template-columns: auto auto;
        height: 100vh; 
        display: flex;
    }
    .title{
        font-family: 'Shrikhand';
        font-size: 6vw;
        color: #f0ecdf;
    }
    .annee{
        position: absolute;
        font-family: 'Shrikhand';
        src: url();
        color: #f0ecdf;
        font-size: 4vw;
        border-radius: 3vh;
        padding: 2vh 7vh;
        display: inline-block;
        text-align: center;
        margin-inline: 5vw;
        margin-top: 5vh;
    }
    .container {
        display: none;
        z-index: 100;
        position: fixed;
        transition: 0.5s;
        background-color: #EEF7C9;
        border-radius: 3vh;
        height: fit-content;
        margin: 10px;
    }  
    .bar{
        width: 15vw;
        height: 2vw;
        background-color: #393836;
        margin: 4vw;
        transition: 0.5s;
    }
    .container:hover {
        background-color: #73852c;
        transform:  rotate(-90deg)
    }
    .nav-bar {
        z-index: 10;
        background-color: #39383668;
        width: 100vw;
        height: fit-content;
        height: webkit-fit-content;
        position: fixed;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-block: auto ;
    }
    .nav-item {
        text-decoration: none;
        padding-inline: 2vh;
        padding-block: 2vh;
        text-align: center;
        color: #D1E092;
        font-family: 'Shrikhand';
        src: url();
        }
    .button {
        color: #D1E092;
        font-family: 'Shrikhand';
        src: url();
        background-color: none;
        text-align: center;
        margin-inline: 2vh;
        display: inline-block;
        font-size: 3vh;
        cursor: pointer;
    }
    .button:hover {
        transition:.6s;
        border-radius: 3vh;
        border: none;
        background-color: #657524;
        height: 6vh;
    }
    .main-button {
        font-style: #f0e8d5;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        align-items: center;
    }
    .logo-button {
        height: 5vh;
        margin-block: auto;
    }
    .footer{
        z-index: 1;
        display: flex;
        justify-content: center;
        height: fit-content; 
        background-color: #a6b55b;
        padding-block: 2vh;
    }
    .head-index{
        text-align: center;
        background-image: url(./images/fleurs.jpg);
        background-repeat: no-repeat;
        padding-bottom: 20vh;
        padding-top: 30vh;
    }
    .title1{
        text-align: center;
        margin-bottom: auto;
    }
    .subtitle1{
        font-family: 'Shrikhand';
        src: url();
        color: #f0ecdf;
        font-size: 2vw;
        border-radius: 3vh;
        padding: 2vh 7vh;
        background-color: #657524;
        display: inline-block;
    }
    .banner1{
        background-color: #bbd456; /*#D1E092*/
    }
    .chapter1{
        color: #f0ecdf;
        background-color: #A0B939;
    }
    .text1{
        color: #F0ECDF;
        margin-inline: 5vh;
        display: inline; 
        flex-direction: column;
    }
    .image1{
        width: 30vw;
        height: fit-content;
        margin-block: auto auto;
        margin-inline: auto auto;
    }
    /* .block-image{
        height: 100vh; 
        width: 100vh;
        display: flex;
        align-items: center;
        justify-content: center; 
    } */
    .banner2{
        background-color: #f0e8d5;
    }
    .chapter2{
        color: #708125;
        background-color: #EEF7C9;
    }
    .text2{
        color: #73852c;
        margin-left: 5vh;
        display: flex; 
        flex-direction: column;
    }
    .banner3{
        background-color: #ffb05c; /*#D1E092*/
    }
    .chapter3{
        color: #f0ecdf;
        background-color: #ff861b;
    }
    .title2{
        z-index: 2;
        position: absolute;
        margin-left: 25vh;
        margin-top: 15vh;
        margin-bottom: 5vh;
    }
    .head-presentation{
        padding-top: 30vh;
        background-image: url(./images/fleurs.jpg);
        background-repeat: no-repeat;
        grid-template-columns: auto auto;
        display: flex;
    }
    .logo-presentation{
        width: 40vw;
        justify-content: center;
        align-items: center;
    }
    .text3{
        color: #f0ecdf;
        justify-content: center;
        align-items: center;
        margin-inline: 5vw;
    }
    .annee1{
        background-color: #A0B939;
    }
    .block-image{
        width: 45vw; 
        display: flex;
        align-items: center;
        justify-content: center; 
        padding-inline: 2vh ;
    }
    .photo-comites{
        width: 90%;
        height: fit-content;
        height: webkit-fit-content;
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
    }
    .text4{
        color: #171717;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .annee2{
        background-color: #e97c29;
    }
    .title3{
        z-index: 2;
        position: absolute;
        margin-top: 15vh;
        margin-bottom: 5vh;
        margin-inline: 40vw;
        
    }
    .title4{
        z-index: 2;
        position: absolute;
        margin-top: 15vh;
        margin-bottom: 5vh;
        margin-inline: 35vw;
        
    }
    .head-actions{
        z-index: 1;
        background-image: url(./images/fleurs.jpg);
        background-repeat: no-repeat;
        height: 30vh; 
    }
    .head-contacts{
        z-index: 1;
        background-image: url(./images/fleurs.jpg);
        background-repeat: no-repeat;
        grid-template-columns: auto auto;
        display: flex;
        text-align: center;
    }
    .contact-general{
        text-align: center;
        margin-left: 15vh;
    }
    .logo-contact{
        width: 40vw;
        margin-top: 25vh;
        margin-left: 10vh;
        margin-bottom: 7vh;
    }
    .instagram{
        z-index: 2;
        font-family: 'Shrikhand';
        src: url();
        color: #f0ecdf;
        font-size: 4svw;
        text-align: center;
        margin-top: 45vh;
    }
    .adresse{
        z-index: 2;
        font-family: 'Shrikhand';
        src: url();
        color: #393836;
        font-size: 3vw;
        text-align: center;
    }
    .banner-contact{
        z-index: 1;
        background-color: #ffb05c; /*#D1E092*/
        grid-template-columns: auto auto;
        width: 100%;
        height: 50vh;
        display: flex;
    }
    .chapter-contact{
        z-index: 2;
        font-family: 'Shrikhand';
        src: url();
        color: #f0ecdf;
        font-size: 3.5vw;
        display: inline-block;
        text-align: center;
        background-color: #ff861b;
        border-radius: 3vh;
        padding: 2vh 7vh;
        margin-block: 19vh;
        margin-inline: 5vh;
        width: 50%;
        display: flex; 
        align-items:center; 
        flex-direction: column;
    }
    .text-contact{
        color: #F0ECDF;
        font-size: 2vw;
        width: 50%;
        margin-inline: 5vw;
        text-align: center;
        align-items: center;
        margin-top: 20vh;
    }
    .image-rejoins-nous{
        width: 50vw;
        height: fit-content;
        height: webkit-fit-content;
        align-items: center;
        justify-content: center;
        margin-block: auto auto;
        margin-inline: 5vh;
    }
    }
@media screen and (max-width: 1400px) {
    /*tablettes*/
        *{
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
        }
        .text{
            font-family: 'Urbanist', sans-serif;
            src: url(/fonts.google.com/specimen/Urbanist);
            font-size: 4vw;
            width: 100vw;
            height:100%;
            justify-content: center;
            text-align: center;
            margin-inline: auto;
            width: 90%;
        }
        .chapter{
            z-index: 2;
            position: absolute;
            font-family: 'Shrikhand';
            font-size: 6vw;
            display: inline-block;
            border-radius: 3vh;
            padding: 2vh;
            margin-left: 3vh;
            margin-top: -4vh;
            text-align: center;
        }
        .banner{
            z-index: 1;
            flex-direction: column;
            width: 100%; 
            display: flex;
        }
        .title{
            font-family: 'Shrikhand';
            font-size: 12vw;
            color: #f0ecdf;
        }
        .annee{
            position: absolute;
            font-family: 'Shrikhand';
            src: url();
            color: #f0ecdf;
            font-size: 4vw;
            border-radius: 3vh;
            padding: 2vh 7vh;
            display: inline-block;
            text-align: center;
            margin-inline: 10vw ;
            margin-top: 5vh;
            width: 50%;
            height: fit-content;
            height: webkit-fit-content;
        }
        .footer{
            z-index: 1;
            display: flex inline;
            justify-content: center;
            height: fit-content; 
            background-color: #a6b55b;;
            padding-block: 2vh;
        }
        .container {
            display: none;
            z-index: 100;
            position: fixed;
            transition: 0.5s;
            background-color: #EEF7C9;
            border-radius: 3vh;
            height: fit-content;
            margin: 10px;
        }  
        .bar{
            width: 15vw;
            height: 2vw;
            background-color: #393836;
            margin: 4vw;
            transition: 0.5s;
        }
        .container:hover {
            background-color: #73852c;
            transform:  rotate(-90deg)
        }
        .nav-bar{
            z-index: 10;
            background-color: #39383668;
            width: 100vw;
            height: fit-content;
            height: webkit-fit-content;
            position: fixed;
            display: grid;
            align-items: center;
            grid-template-columns: auto auto auto auto auto;
        }
        .nav-item {
            text-decoration: none;
            padding-inline: auto;
            padding-block: 2vh;
            text-align: center;
            color: #D1E092;
            font-family: 'Shrikhand';
            src: url();
            }
        .button {
            color: #D1E092;
            font-family: 'Shrikhand';
            src: url();
            background-color: none;
            text-align: center;
            margin-inline: 1vh;
            display: inline-block;
            font-size: 2vw;
            cursor: pointer;
        }
        .button:hover {
            transition:.6s;
            border-radius: 3vh;
            border: none;
            background-color: #657524;
            height: fit-content;
            height: webkit-fit-content;
        }
        .main-button {
            font-style: #f0e8d5;
            text-align:center;
            display: inline-block;
            cursor: pointer;
            align-items: center;
        }
        .logo-button {
            height: 5vw;
        }
        .head-index{
            text-align:center;
            background-image: url(./images/fleurs.jpg);
            background-repeat: no-repeat;
            padding-bottom: 20vh;
            padding-top: 30vh;
        }
        .title1{
            text-align:center;
            margin-bottom: auto;
        }
        .subtitle1{
            font-family: 'Shrikhand';
            src: url();
            color: #f0ecdf;
            font-size: 5vw;
            border-radius: 3vh;
            padding: 2vh 2vh;
            background-color: #657524;
            display: inline-block;
        }
        .banner1{
            background-color: #bbd456; /*#D1E092*/
        }
        .chapter1{
            color: #f0ecdf;
            background-color: #A0B939;
        }
        .text1{
            color: #F0ECDF;
            height: fit-content;
            height: webkit-fit-content;
            margin-block-start: 10vh;
            display: flex; 
            flex-direction: column;
            text-align:center;
    
        }
        .image1{
            width: 40vw;
            height: fit-content;
            height: webkit-fit-content;
            margin-block: 5vh 10vh;
            margin-inline: auto auto;
        }
        /* .block-image{
            height: 100vh; 
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center; 
        } */
        .banner2{
            background-color: #f0e8d5;
        }
        .chapter2{
            color: #708125;
            background-color: #EEF7C9;
        }
        .text2{
            color: #73852c;
            height: fit-content;
            height: webkit-fit-content;
            margin-block-start: 10vw;
            margin-block-start: 10vh;
            display: flex; 
            flex-direction: column;
            text-align:center;
        }
        .banner3{
            background-color: #ffb05c; /*#D1E092*/
        }
        .chapter3{
            color: #f0ecdf;
            background-color: #ff861b;
        }
        .title2{
            position: absolute;
            z-index: 2;
            margin-inline: auto;
            margin-block: auto;
            margin-bottom: 5vh;
            top: 10vh;
            left: 7vw;
            font-size: 7vw;
        }
        .head-presentation{
            padding-top: 15vh;
            background-image: url(./images/fleurs.jpg);
            background-repeat: no-repeat;
            grid-template-columns: auto auto;
            flex-direction: column;
            display: flex;
        }
        .logo-presentation{
            width: 40vw;
            justify-content: center;
            align-items: center;
        }
        .text3{
            color: #f0ecdf ;
            justify-content: center;
            align-items: center;
            margin-block-end: 2vh;
            text-align:center;
            font-size: 4vw;
        }
        .annee1{
            background-color: #A0B939;
        }
        .block-image{
            width: 80vw; 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center; 
            margin-inline: auto ;
            margin-block: auto;
        }
        .photo-comites{
            width: 90%;
            height: fit-content;
            height: webkit-fit-content;
            margin-block-start: 15vh;
            margin-inline: auto;
            justify-content: center;
            align-items: center;
        }
        .text4{
            color: #171717;
            justify-content: center;
            align-items: center;
            margin-block: 5vh;
            text-align:center;
            width: 100%;
        }
        .annee2{
            background-color: #e97c29;
        }
        .title3{
            z-index: 2;
            position: absolute;
            margin-top: 10vh;
            margin-inline: 25vw;
            
        }

        .title4{
            z-index: 2;
            position: absolute;
            margin-top: 10vh;
            margin-inline: 25vw;
            
        }
        .head-actions{
            z-index: 1;
            background-image: url(./images/fleurs.jpg);
            background-repeat: no-repeat;
            height: 24vh; 
        }
        .head-contacts{
            z-index: 1;
            background-image: url(./images/fleurs.jpg);
            background-repeat: no-repeat;
            
            grid-template-columns: auto auto;
            display: flex;
            text-align:center;
            flex-direction: column;
            padding-top: 20vh;
        }
        .contact-general{
            text-align:center;
            margin-inline: auto;
            margin-block: 5vh;
        }
        .logo-contact{
            width: 40vw;
            height: fit-content;
            height: webkit-fit-content;
            margin-inline: auto;
            margin-block: auto;
        }
        .instagram{
            z-index: 2;
            font-family: 'Shrikhand';
            src: url();
            color: #f0ecdf;
            font-size: 7vw;
            text-align:center;
            margin-inline: auto;
            margin-block: auto;
        }
        .adresse{
            z-index: 2;
            font-family: 'Shrikhand';
            src: url();
            color: #393836;
            font-size: 5vw;
            text-align: center;
        }
        .banner-contact{
            z-index: 1;
            background-color: #ffb05c; /*#D1E092*/
            grid-template-columns: auto auto;
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
        }
        .chapter-contact{
            z-index: 2;
            font-family: 'Shrikhand';
            color: #f0ecdf;
            display: inline-block;
            border-radius: 3vh;
            padding: 2vh 7vh;
            font-size: 6vw;
            text-align: center;
            background-color: #ff861b;
            margin-block: auto;
            margin-inline: 10vw;
            margin-bottom: 10vh;
            width: 50vw;
            display: flex; 
            align-items:center; 
            flex-direction: column;
        }
        .text-contact{
            color: #F0ECDF;
            font-size: 5vw;
            text-align: center;
            width: 50%;
            margin-inline: auto;
            display: flex; 
            flex-direction: column;
        }
        .image-rejoins-nous{
            width: 50vw;
            height: fit-content;
            height: webkit-fit-content;
            align-items: center;
            justify-content: center;
            margin-block: 5vh;
            margin-inline: auto auto;
        }
        }
@media screen and (max-width: 980px) {
/*smartphones*/
    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
    }
    .text{
        font-family: 'Urbanist', sans-serif;
        src: url(/fonts.google.com/specimen/Urbanist);
        font-size: 4vw;
        width: 100vw;
        height:100%;
        justify-content: center;
        text-align: center;
        margin-inline: auto;
        width: 90%;
    }
    .chapter{
        z-index: 2;
        position: absolute;
        font-family: 'Shrikhand';
        font-size: 6vw;
        display: inline-block;
        border-radius: 3vh;
        padding: 2vh;
        margin-left: 3vh;
        margin-top: -4vh;
        text-align: center;
    }
    .banner{
        z-index: 1;
        flex-direction: column;
        width: 100%; 
        display: flex;
    }
    .title{
        font-family: 'Shrikhand';
        font-size: 9vh;
        max-width: 100vw;
        color: #f0e8d5;
    }
    .annee{
        position: absolute;
        font-family: 'Shrikhand';
        src: url();
        color: #f0ecdf;
        font-size: 4vw;
        border-radius: 3vh;
        padding: 2vh 7vh;
        display: inline-block;
        text-align: center;
        margin-inline: 10vw ;
        margin-top: 5vh;
        width: 50%;
        height: fit-content;
        height: webkit-fit-content;
    }
    .footer{
        z-index: 1;
        display: flex;
        justify-content: center;
        height: fit-content; 
        background-color: #a6b55b;
        padding-block: 2vh;
    }
    .container {
        display: inline-block;
        z-index: 100;
        position: fixed;
        transition: 0.5s;
        background-color: #EEF7C9;
        border-radius: 3vh;
        height: fit-content;
        margin: 10px;
    }  
    .bar{
        width: 15vw;
        height: 2vw;
        background-color: #393836;
        margin: 4vw;
        transition: 0.5s;
    }
    .container:hover {
        background-color: #73852c;
        transform:  rotate(-90deg)
    }
    .menu{
        background-repeat: no-repeat;
        background-size: 150vh;
        background-image: url(./images/fleurs.jpg);
    }
    .layer{
        background-color: #39383685;
        height: 100vh;
        grid-template-columns: auto auto;
        flex-direction: column;
        display: flex;
    }
    .logo-menu{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 55vw;
        height: fit-content;
        display: inline-block;
        padding-inline: 22.5vw;
        padding-block-start: 5vh;
    }
    .nav-bar {
        display: none;
        z-index: 10;
        background-color: #39383668;
        width: 100vw;
        height: fit-content;
        height: webkit-fit-content;
        position: fixed;
        align-items: center;
        grid-template-columns: auto auto auto auto auto;
    }
    .nav-item {
        text-decoration: none;
        padding-block: 3.5vh;
        text-align: center;
        justify-content: center;
        color: #D1E092;
        font-family: 'Shrikhand';
        src: url();
        }
    .button {
        color: #D1E092;
        font-family: 'Shrikhand';
        src: url();
        background-color: none;
        text-align: center;
        justify-content: center;
        padding-inline: 1vh;
        display: inline-block;
        font-size: 10vw;
        cursor: pointer;
    }
    .button:hover {
        transition:.6s;
        border-radius: 3vh;
        border: none;
        background-color: #657524;
        height: fit-content;
        height: webkit-fit-content;
    }
    .main-button {
        font-style: #f0e8d6;
        text-align:center;
        display: inline-block;
        cursor: pointer;
        align-items: center;
    }
    .logo-button {
        height: 30vw;
    }
    .head-index{
        text-align:center;
        background-image: url(./images/fleurs.jpg);
        background-repeat: no-repeat;
        padding-bottom: 20vh;
        padding-top: 30vh;
    }
    .title1{
        text-align:center;
        margin-bottom: auto;
    }
    .subtitle1{
        font-family: 'Shrikhand';
        src: url();
        color: #f0ecdf;
        font-size: 5vw;
        border-radius: 3vh;
        padding: 2vh 2vh;
        background-color: #657524;
        display: inline-block;
    }
    .banner1{
        background-color: #bbd456; /*#D1E092*/
    }
    .chapter1{
        color: #f0ecdf;
        background-color: #A0B939;
    }
    .text1{
        color: #F0ECDF;
        height: fit-content;
        height: webkit-fit-content;
        margin-block-start: 10vh;
        display: flex; 
        flex-direction: column;
        text-align:center;

    }
    .image1{
        width: 90vw;
        object-fit: contain;
        max-height: 50vh;
        margin-block: 5vh 10vh;
        margin-inline: auto auto;
    }
    /* .block-image{
        height: 100vh; 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 
    } */
    .banner2{
        background-color: #f0e8d5;
    }
    .chapter2{
        color: #708125;
        background-color: #EEF7C9;
    }
    .text2{
        color: #73852c;
        height: fit-content;
        height: webkit-fit-content;
        margin-block-start: 10vw;
        margin-block-start: 10vh;
        display: flex; 
        flex-direction: column;
        text-align:center;
    }
    .banner3{
        background-color: #ffb05c; /*#D1E092*/
    }
    .chapter3{
        color: #f0ecdf;
        background-color: #ff861b;
    }
    .title2{
        position: absolute;
        z-index: 2;
        margin-inline: auto;
        margin-block: auto;
        margin-bottom: 5vh;
        top: 10vh;
        left: 7vw;
        font-size: 7vw;
    }
    .head-presentation{
        padding-top: 15vh;
        background-image: url(./images/fleurs.jpg);
        background-repeat: no-repeat;
        grid-template-columns: auto auto;
        flex-direction: column;
        display: flex;
    }
    .logo-presentation{
        width: 40vw;
        justify-content: center;
        align-items: center;
    }
    .text3{
        color: #f0ecdf ;
        justify-content: center;
        align-items: center;
        margin-block-end: 2vh;
        text-align:center;
        font-size: 4vw;
    }
    .annee1{
        background-color: #A0B939;
    }
    .block-image{
        width: 80vw; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
        margin-inline: auto ;
        margin-block: auto;
    }
    .photo-comites{
        width: 90vw;
        object-fit: contain;
        max-height: 50vh;
        margin-block-start: 15vh;
        margin-inline: auto;
        justify-content: center;
        align-items: center;
    }
    .text4{
        color: #171717;
        justify-content: center;
        align-items: center;
        margin-block: 5vh;
        text-align:center;
        width: 100%;
    }
    .annee2{
        background-color: #e97c29;
    }
    .title3{
        z-index: 2;
        position: absolute;
        margin-top: 10vh;
        margin-inline: 25vw;
        
    }
    
    .head-actions{
        z-index: 1;
        background-image: url(./images/fleurs.jpg);
        background-repeat: no-repeat;
        height: 24vh; 
    }
    .title4{
        z-index: 2;
        position: absolute;
        margin-top: 10vh;
        margin-inline: 5vw;
    }
    .head-contacts{
        z-index: 1;
        background-image: url(./images/fleurs.jpg);
        background-repeat: no-repeat;
        grid-template-columns: auto auto;
        display: flex;
        text-align:center;
        flex-direction: column;
        padding-top: 20vh;
    }
    .contact-general{
        text-align:center;
        margin-inline: auto;
        margin-block: 5vh;
    }
    .logo-contact{
        width: 40vw;
        height: fit-content;
        margin-inline: auto;
        margin-block: auto;
    }
    .instagram{
        z-index: 2;
        font-family: 'Shrikhand';
        src: url();
        color: #f0ecdf;
        font-size: 7vw;
        text-align:center;
        margin-inline: auto;
        margin-block: auto;
    }
    .adresse{
        z-index: 2;
        font-family: 'Shrikhand';
        src: url();
        color: #393836;
        font-size: 5vw;
        text-align: center;
    }
    .banner-contact{
        z-index: 1;
        background-color: #ffb05c; /*#D1E092*/
        grid-template-columns: auto auto;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .chapter-contact{
        z-index: 2;
        font-family: 'Shrikhand';
        color: #f0ecdf;
        display: inline-block;
        border-radius: 3vh;
        padding: 2vh 7vh;
        font-size: 6vw;
        text-align: center;
        background-color: #ff861b;
        margin-block: auto;
        margin-inline: 10vw;
        margin-bottom: 10vh;
        width: 50vw;
        display: flex; 
        align-items:center; 
        flex-direction: column;
    }
    .text-contact{
        color: #F0ECDF;
        font-size: 5vw;
        text-align: center;
        width: 50%;
        margin-inline: auto;
        display: flex; 
        flex-direction: column;
    }
    .image-rejoins-nous{
        width: 90vw;
        object-fit: cover;
        max-height: 30vh;
        align-items: center;
        justify-content: center;
        margin-block: 5vh;
        margin-inline: auto auto;
    }
    }

