*{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
}
.nav-bar {
z-index: 10;
background-color: #39383668;
width: 100%;
height: 10vh;
position: fixed;
display: grid;
grid-template-columns: auto auto auto auto auto;
}
.nav-item {
text-decoration: none;
padding: 2vh;
text-align: center;
color: #D1E092;
font-family: 'Shrikhand';
src: url();
}
.button {
color: #D1E092;
font-family: 'Shrikhand';
src: url();
background-color: none;
text-align: center;
margin-inline: 2vh;
margin-block: 0vh;
display: inline-block;
font-size: 4vh;
cursor: pointer;
}
.button:hover {
transition:.6s;
border-radius: 3vh;
border: none;
background-color: #657524;
padding: 2vh -1vh;
}
.main-button {
height: 5vh;
text-align: center;
margin-block: 1vh;
margin-left: 5vh;
margin-top: -1vh;
display: inline-block;
cursor: pointer;
}
.logo-button {
height: 7vh;
}
.head-index{
text-align: center;
background-image: url(./images/fleurs.jpg);
background-size: 100% ;
padding-bottom: 200px;
padding-top: 300px;
}
.title1{
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
text-align: center;
font-size: 10vh;
margin-bottom: auto;
}
.subtitle1{
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
font-size: 4vh;
border-radius: 9px;
background-color: #657524;
display: inline-block;
padding: 15px 32px;
}
.banner1{
z-index: 1;
background-color: #bbd456; /*#D1E092*/
grid-template-columns: auto auto;
height: 100vh; 
display: flex;
}
.chapter1{
z-index: 2;
position: absolute;
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
text-align: left;
font-size: 50px;
display: inline-block;
background-color: #A0B939;
border-radius: 9px;
padding: 15px 32px;
margin-top: -7vh;
margin-left: 5vh;
}
.text1{
font-family: 'Urbanist', sans-serif;
src: url(/fonts.google.com/specimen/Urbanist);
color: #F0ECDF;
font-size: 20px;
width: 100vh;
margin-left: 5vh;
height:100%;
display: flex; 
justify-content: center; 
flex-direction: column;
}
.image1{
width: 70%;
height: fit-content;
margin-top: 8vh;
margin-inline: 8vh;
}
.block-image{
height: 100vh; 
width: 100vh;
display: flex; 
}
.banner2{
z-index: 1;
background-color: #f0e8d5;
grid-template-columns: auto auto;
height: 100vh; 
display: flex;
}
.chapter2{
z-index: 2;
position: absolute;
font-family: 'Shrikhand';
src: url();
color: #708125;
text-align: left;
font-size: 50px;
display: inline-block;
background-color: #EEF7C9;
border-radius: 9px;
padding: 15px 32px;
margin-top: -7vh;
margin-left: 5vh;
}
.text2{
font-family: 'Urbanist', sans-serif;
src: url(/fonts.google.com/specimen/Urbanist);
color: #73852c;
font-size: 20px;
width: 100vh;
margin-left: 5vh;
height:100%;
display: flex; 
justify-content:center; 
flex-direction: column;
}
.banner3{
z-index: 1;
background-color: #ffb05c; /*#D1E092*/
grid-template-columns: auto auto;
height: 100vh; 
display: flex;
}
.chapter3{
z-index: 2;
position: absolute;
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
text-align: left;
font-size: 50px;
display: inline-block;
background-color: #ff861b;
border-radius: 9px;
padding: 15px 32px;
margin-top: -7vh;
margin-left: 5vh;
}
.title2{
z-index: 2;
position: absolute;
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
font-size: 10vh;
margin-left: 25vh;
margin-top: 15vh;
margin-bottom: 5vh;
}
.head-presentation{

background-image: url(./images/fleurs.jpg);
background-size: 100% ;
grid-template-columns: auto auto;
display: flex;
}
.logo-presentation{
padding-top: 300px;
width: 70vh;
height: 65vh;
justify-content: center;
margin-left: 10vh;
}
.text3{
padding-top: 300px;
font-family: 'Urbanist', sans-serif;
src: url();
color: #f0ecdf;
font-size: 20px;
width: 100vh;
height:100%;
justify-content: center;
}
.annee1{
position: absolute;
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
font-size: 50px;
border-radius: 9px;
background-color: #A0B939;
display: inline-block;
padding: 15px 32px;
margin-left: 60vh;
margin-top: 5vh;
}
.photo-comites{
height: 50vh;
margin-top: 25vh;
margin-left: 10vh;
}
.text4{
font-family: 'Urbanist', sans-serif;
src: url();
color: #171717;
font-size: 20px;
width: 100vh;
height:100%;
justify-content: baseline;
}
.annee2{
position: absolute;
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
font-size: 50px;
border-radius: 9px;
background-color: #e97c29;
display: inline-block;
padding: 15px 32px;
margin-left: 60vh;
margin-top: 5vh;
}
.title3{
z-index: 2;
position: absolute;
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
font-size: 10vh;
margin-top: 15vh;
margin-bottom: 5vh;
margin-left: 65vh;
}
.head-actions{
z-index: 1;
background-image: url(./images/fleurs.jpg);
background-size: 100% ;
height: 30vh; 
display: flex;
}
.head-contacts{
z-index: 1;
background-image: url(./images/fleurs.jpg);
background-size: 100% ;
grid-template-columns: auto auto;
display: flex;
text-align: center;
}
.contact-general{
text-align: center;
margin-left: 15vh;
}
.logo-contact{
width: 70vh;
height: 65vh;
margin-top: 25vh;
margin-left: 10vh;
margin-bottom: 7vh;
}
.instagram{
z-index: 2;
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
font-size: 60px;
text-align: center;
margin-top: 45vh;
}
.adresse{
z-index: 2;
font-family: 'Shrikhand';
src: url();
color: #393836;
font-size: 50px;
text-align: center;
}
.banner-contact{
z-index: 1;
background-color: #ffb05c; /*#D1E092*/
grid-template-columns: auto auto;
width: 100%;
height: 50vh;
display: flex;
}
.chapter-contact{
z-index: 2;
font-family: 'Shrikhand';
src: url();
color: #f0ecdf;
font-size: 50px;
display: inline-block;
text-align: center;
background-color: #ff861b;
border-radius: 9px;
padding: 15px 32px; 
margin-block: 19vh;
margin-inline: 5vh;
width: 40%;
display: flex; 
align-items:center; 
flex-direction: column;
}
.text-contact{
font-family: 'Urbanist', sans-serif;
src: url(/fonts.google.com/specimen/Urbanist);
color: #F0ECDF;
font-size: 3vh;
width: 50%;
margin-top: 20vh;
margin-inline: 5vh;
height:100%;
display: flex; 
align-items:center; 
flex-direction: column;
}
.image-rejoins-nous{
width: 50%;
height: fit-content;
margin-top: 15vh;
margin-inline: 3vh;
}