*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
.nav-bar {
  z-index: 10;
  position: fixed;
  width: 100%;
  display: grid;
  background-color: #889d2d;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}
.nav-item {
  text-decoration: none;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: #d4e09e;
  font-family: 'Shrikhand';
  src: url('/fonts.google.com/specimen/Shrikhand');
}
.button {
    border: none;
    border-radius: 9px;
    color: #D1E092;
    font-family: 'Shrikhand';
    src: url('/fonts.google.com/specimen/Shrikhand');
    background-color: #A0B939;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 70%;
    cursor: pointer;
}
.main-button {
  border: none;
  border-radius: 9px;
  color: #EEF7C9;
  font-family: 'Shrikhand';
  src: url('/fonts.google.com/specimen/Shrikhand');
  background-color: #7f9d2d;
  padding: 15px ;
  text-align: center;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
}
.head-index{
  background-image: url(./images/fleurs.jpg) ;
  background-size: 100% ;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 300px;
}
.title1{
  font-family: 'Shrikhand';
  src: url('/fonts.google.com/specimen/Shrikhand');
  color: #f0ecdf;
  text-align: center;
  font-size: 100px;
  margin-bottom: auto;
}
.subtitle1{
  font-family: 'Shrikhand';
  src: url('/fonts.google.com/specimen/Shrikhand');
  color: #f0ecdf;
  font-size: 50px;
  border-radius: 9px;
  background-color: #A0B939;
  display: inline-block;
  padding: 15px 32px;
}
.banner{
  z-index: 1;
  background-color: aqua; /*#D1E092*/
  grid-template-columns: auto auto;
  height: 100vh; 
  display: flex;
}
.chapter1{
  z-index: 2;
  position: absolute;
  font-family: 'Shrikhand';
  src: url('/fonts.google.com/specimen/Shrikhand');
  color: #f0ecdf;
  text-align: left;
  font-size: 50px;
  display: inline-block;
  background-color: #A0B939;
  border-radius: 9px;
  padding: 15px 32px;
  margin-bottom: 50px;
}
.text1{
  font-family: Arial, Helvetica, sans-serif;
  color: #f0ecdf;
  font-size: 20px;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 100px;
  height:100%; width: 50%; 
  display: flex; 
  align-items:center; 
  flex-direction: column;
}
.image{
  width: 70vh;
  height: 80vh;
  margin-top: 8vh;
  margin-left: 10vh;
}
.block-image{
  height: 100vh; 
  width: 100vh;
  display: flex; 
}
.banner2{
  z-index: 1;
  background-color: #ffca92;
  grid-template-columns: auto auto;
  height: 100vh; 
  display: flex;
}
.chapter2{
  z-index: 2;
  position: absolute;
  font-family: 'Shrikhand';
  src: url('/fonts.google.com/specimen/Shrikhand');
  color: #f0ecdf;
  text-align: left;
  font-size: 50px;
  display: inline-block;
  background-color: #ff861b;
  border-radius: 9px;
  padding: 15px 32px;
  margin-bottom: 50px;
}
.text2{
  font-family: Arial, Helvetica, sans-serif;
  color: #f0ecdf;
  font-size: 20px;
  margin-bottom: 100px;
  height:100%; 
  width: 50%; 
  display: flex; 
  align-items:center; 
  flex-direction: column;
}


